PyYAML
Django==3.0
djangorestframework
factory_boy
django-filter
django-restql
django-cors-headers
django-react-templatetags
whitenoise
factory-boy
pytest>=6.1.2
pytest-django>=4.1.0
pytest-env
pytest-cov>=2.10.1